container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && APPNAME_ENV=demo python manage.py demo-reset"
    leader_only: true
  02_assets:
    command: "source /var/app/venv/*/bin/activate && flask assets build"
  03_permissions:
    command: "chown -R webapp:webapp /var/app/staging/appname/static"

option_settings:
  aws:elasticbeanstalk:application:environment:
    APPNAME_ENV: demo
    FLASK_APP: wsgi
