container_commands:
  00_db_cleanup:
    command: "rm -f /tmp/database.db /tmp/database.db-journal /tmp/database.db-wal /tmp/database.db-shm"
    ignoreErrors: true
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && APPNAME_ENV=demo python manage.py demo-reset"
    leader_only: true
  02_assets:
    command: "source /var/app/venv/*/bin/activate && flask assets build"
  03_permissions:
    command: "chown -R webapp:webapp /var/app/staging/appname/static"
  04_db_permissions:
    command: "chmod 666 /tmp/database.db"
    ignoreErrors: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    APPNAME_ENV: demo
    FLASK_APP: wsgi
